<h2>Database Overview</h2>
<h3>Student</h3>
<h5>This portion allows you to add or delete students from the database. It also displays all the current students.</h5>
<h3>Class</h3>
<h5>This portion allows you to add classes to the database. It also displays a list of the current classes filled with their respective students.</h5>
<h3>Room</h3>
<h5>This portion allows you to add rooms to the database. It also displays a list of all rooms and a list of which room each class has its homeroom.</h5>
<h3>Subject</h3>
<h5>This portion allows you to add additional subjects to the database. It displays a list of subjects and the rooms each subject is taught in. It also displays the list of sudents and what subjects they study.</h5>